.container-si {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    min-height: 100vh; /* Make sure the container fills the viewport height */
  }
  
  .main-si {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); /* Adjust height based on header size */
  }

  .sign-in{
    display: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 2em;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; /* Adjust based on your preference */
  }
  
  h1 { /* email address*/
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  label {
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    margin-bottom: 0.5em;
  }
  
  input[type=email] {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type=password] {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btnsi-si {
    /* align-self: center; */
    flex: 1;
    padding: 0.5em 1em;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .btnsi-si:hover {
    background-color: #333333;
  }
  